<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dispositivimobili.footballteam">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_imagefootball"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_imagefootball_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FootballManager">
        <activity android:name=".AddFootballerActivity"/>
        <activity android:name=".PrincipalActivity"/>
        <activity android:name=".LoginActivity" />
        <activity android:name=".RegisterActivity" />
        <activity
            android:name=".imageFirstActivity"
            android:label="@string/app_name"
            android:theme="@style/Theme.FootballManager.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>